#calculator{
    border: 1px solid rgb(162, 161, 161);
    border-radius: 5px;
    width: 200px;
}

#display{
    margin: 10px;
    width: 85%;
    font-size: 26px;
}

.button-cantainer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.button{
    width: 45px;
    height: 45px;
    margin: 5px;
}